.img-background {
    height: 65vh;
    margin-top: -20px;
    background: no-repeat center linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/taxes.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
    text-align: center;
}

.client-reason {
    padding: 60px 20px;
}

.glyph-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.glyphicon {
    font-size: 30px;
    color: #006400;
}

.client-reason h3 {
    text-align: center;
}

#call-to-action {
    text-align: center;
    display: inline-block;
    color: gold;
    font-size: 18px;
    margin-top: 20vh;
}

#action-text {
    margin-bottom: 8px;
}

#button-wrapper button {
    padding: 8px 25px;
    background-color: transparent;
    color: gold;
    border: solid 1px gold;
}

#button-wrapper button:hover {
    background-color: #006400;
}