<div class="img-background">
  <div id="call-to-action">
    <div id="action-text">
      Schedule an <br>
      Appointment
    </div>
    <div id="button-wrapper"><a [routerLink]="['/appointment']"><button>Today!</button></a></div>
  </div>
</div>
<div class="container"> 
  <div class="col-md-4 client-reason">
    <div>
      <div class="glyph-wrapper"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></div>
      <h3>Personal Taxpreparer</h3>
      <p>With 7 years of experience working directly with client's personal finances, I am sure that I can help you get the money you are supposed to get.</p>
    </div>
  </div>
  <div class="col-md-4 client-reason">
    <div>
      <div class="glyph-wrapper"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></div>
      <h3>IRS Questions</h3>
      <p>Are you having issues with the IRS. I have helped many clients through audits and will walk you through the process step by step until they stop bothering you.</p>
    </div>
  </div>
  <div class="col-md-4 client-reason">
    <div>
      <div class="glyph-wrapper"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
      <h3>Business Taxes</h3>
      <p>I have worked with many types of commercial clients. From Fortune 500 companies to startups I have seen it all and I can help guide your business through tax season.</p>
    </div>
  </div>
</div>
