<div id="overlay" #overlay>
  <div id="spinner"></div>
</div>
<div class="container">
  <div class="row" id="client-name">
    {{ userName }}
  </div>
  <div *ngIf="apptsExist"> 
    <div class="row table-row">
      <table class="table">
        <caption>Appoinments Made</caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Time</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appt of userAppts; let i = index;">
            <th>{{i + 1}}</th>
            <th>{{ appt.ApptDate }}</th>
            <th>{{ appt.Time }}</th>
            <th>{{ appt.Notes }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="no-appts" *ngIf="apptsNotExist">
    No appointments are currently in the system. 
    Please create an appointments on the appointment page with the calendar.
  </div>
</div>


